body {
    background-color: #F0F0F5;
font-family: 'Roboto', sans-serif; 
margin: 0px;
}
h1{
    text-align: center;
    font-size: 44px; 
color: black;
}
p {
color: black;
}
header{
    background: white;
    top: 0px;
    height: 100px;
width: 100%;
    padding-top: 20px;
}
#klk{
    width: 75%;
    margin: auto;
}